<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../styles/styles.css">
        <link rel="icon" href="../img/weather.jpg">

        <title>about</title>
    </head>
    <body>
        <div class="bodyContext">
            <h1>{{>header}}</h1>
            {{!-- <h1>About page!!</h1> --}}
            <img class="profileImage" src="../img/nodeprofileimage.png">
            {{!-- <p>{{>header}}</P> --}}
        </div>
        <p>{{>footer}}</p>
        <script src="../js/script.js"></script>
    </body>
</html>
