<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../styles/styles.css">
        <link rel="icon" href="../img/weather.jpg">
        <title>About</title>
    </head>
    <body>
        <div class="bodyContext">
            <h1>{{>header}}</h1>
            <img class="profileImage" src="../img/nodeprofileimage.png">
        </div>
        <p>{{>footer}}</p>
        <script src="../js/script.js"></script>
    </body>
</html>
