<!DOCTYPE html>
<html>
    <head>
        <title>Help</title>
        <link rel="icon" href="../img/weather.jpg">
        <link rel="stylesheet" href="../styles/styles.css">
    </head>
    <body>
        <div class="bodyContext">
            <h1>{{>header}}</h1>
            <p>{{helptext}}</p>
        </div>
        <p>{{>footer}}</p>
    </body>
</html>
